.rightsideMenuWrapper {
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    right: 0px;
    width: 200px;
    background-color: rgb(247, 249, 250);
}

.profile {
    text-align: center;
}

.custom-btn {
    background: #8ccdc2;
    color: #fff;
    border: 2px solid #8ccdc2;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 80%
}

#profilePic {
    height: 150px;
    width: 150px;
    margin-bottom: 5%; 
}


#right-sidebar-wrapper {
    z-index: 1;
    top: 0;
    left: 0;
    border-right:  1px solid #c0c1c4;
    overflow: hidden;
    height: 100vh;

}

